@media screen and (max-width:768px){

    main{
        grid-template-rows: repeat(3,auto);
    }

    h2{
        margin-bottom: 20px;
        font-size: 25px;
        color: #801624;
        text-align: center;
    }

    #port1{
    	margin-top: 10px;
    	display: grid;
    	grid-template-columns: 50% 50%;
    	grid-template-rows: repeat(2,auto);
    }

    #port1 article{
    	border: 1.5px solid #801624;
        border-radius: 10px;
        background-color: white;
        padding: 10px;
    }

    main p{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #801624;
        text-align: center;
    }

   	#direita{
    	margin: 5px 5px 5px 0px;
    }

    #esquerda{
    	margin: 5px 0px 5px 5px;
    }

    #direita img{
    	width: 120px;
    	height: auto;
    	padding-top: 35px;
    }

    #esquerda img{
    	width: 100px;
    	height: auto;
    }
}

@media screen and (min-width:768px){

    main{
        grid-template-rows: repeat(3,auto);
    }

    h2{
        margin-bottom: 20px;
        font-size: 25px;
        color: #801624;
        text-align: center;
    }

    #port1{
    	display: grid;
    	grid-template-columns: 50% 50%;
    	grid-template-rows: repeat(2,auto);
    }

    #port1 article{
    	border: 2px solid #801624;
        border-radius: 10px;
        background-color: white;
        padding: 10px;
    }

    main p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        color: #801624;
        text-align: center;
    }

   	#direita{
    	margin: 10px 10px 10px 0px;
    }

    #esquerda{
    	margin: 10px 0px 10px 10px;
    }

    #direita img{
    	width: 150px;
    	height: auto;
    	padding-top: 35px;
    }

    #esquerda img{
    	width: 110px;
    	height: auto;
    }
}

@media screen and (min-width:1200px){

    main{
        grid-template-rows: repeat(3,auto);
    }

    h2{
        margin-bottom: 40px;
        font-size: 30px;
        color: #801624;
        text-align: center;
    }

    #port1{
    	display: grid;
    	grid-template-columns: 50% 50%;
    	grid-template-rows: repeat(2,auto);
    }

    #port1 article{
    	border: 2px solid #801624;
        border-radius: 10px;
        background-color: white;
        padding: 25px;
    }

    main p{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 25px;
        color: #801624;
        text-align: center;
    }

   	#direita{
    	margin: 15px 15px 15px 0px;
    }

    #esquerda{
    	margin: 15px 0px 15px 15px;
    }

    #direita img{
    	width: 200px;
    	height: auto;
    	padding-top: 35px;
    }

    #esquerda img{
    	width: 130px;
    	height: auto;
    }
}